{% include 'header.html' %}
{%load static%}





<div class="container my-5" style="text-align: center;" >
    <div class="row">
        <div class="col">

    <img src="{% static 'images/tick.png' %}"  alt=""><br><br>
    <h1>You have successfully ordered Products Thankyou</h1><br>

    <br><br>

    
    <a href="/"><button style="align-items: center; color:black" class="btn btn-outline-danger"><b>Thankyou For Choosing Our Services</b></button></a>

    </div>
</div>
</div>

