{% include 'header.html' %}



    <!-- Breadcrumb -->
    <!-- <div class="breadcrumb">
        <div class="container text-center">
            <a href="home.html">Home</a>
            <span>About us</span>
        </div>
    </div> -->

    <section class="shop-details-sec">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-info">
                        <img src="../media/image/a1.jpg" width="500px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-info">
                        <h1 class="single-pd-title">About Mandal Florist Shop</h1>
                        <p>MOVIE STAR – Online Movie,Video & TV Show PSD Template is a the best design for 2017. any
                            kinds of online video Template Based on Bootstrap, 12 column Responsive grid Template.
                            “MOVIE STAR” is a smooth and colorful online video PSD Template, perfect suitable for ,
                            Businesses or Personal One page Template. It includes everything you need for the website
                            development such as online Movie,Video & TV Show Template .PSD files are well organized also
                            you can customize very easy . we have include 21 psd file for you. Please, don’t forget to
                            leave a stars rating for this Template!

                            MOVIE STAR – Online Movie,Video & TV Show PSD Template is a the best design for 2017. any
                            kinds of online video Template Based on Bootstrap, 12 column Responsive grid Template.
                            “MOVIE STAR” is a smooth and colorful online video PSD Template, perfect suitable for ,
                            Businesses or Personal One page Template. It includes everything you need for the website
                            development such as online Movie,Video & TV Show Template.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-desc breadcrumb">
                        <div class="container text-center">
                            <h2 class="text-center ">
                                Our Story
                            </h2>
                        </div>


                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in show active">
                                <p class="text-danger">We humbly started delivering fresh flowers in Noida. We always knew we wanted to
                                    create something very valuable and reliable for our customers. We started our first
                                    office in Central Noida with 5 people dispatching about 20 orders a day.

                                    The mission was to deliver a delightful experience to customers which will help our
                                    brand grow by referrals. Later, on insisted demand by our customers, we launched
                                    Cakes which essentially is best pal to Flowers. Then we curated range of gifts which
                                    included live potted plants, personalised stationery and you had shown so much love
                                    to our collection.

                                    On our way, we won a number of awards and recognitions, all credits to our close
                                    knitted passionate team. Lot of people have since copied us and we find it quite
                                    flattering really. Today, MyFlowerTree delivers over 1200 orders a day and growing.
                                    Our values haven't changed since those days, we're still on our way to make it a
                                    highly valuable and reliable brand. We love our customers who trust us with their
                                    important occasions. We take this responsibility very seriously.</p>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
