{%extends 'basse.html' %}
{%load static%}
{%block body%}

        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="#">HOME</a>
                            <ul>
                                <li><a href="index.html">home version 1</a></li>
                                <li><a href="index-2.html">home version 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">pages</a>
                            <ul>
                                <li><a href="about-us.html">about us </a></li>
                                <li><a href="shop.html">shop Grid</a></li>
                                <li><a href="shop-list.html">shop list</a></li>
                                <li><a href="product-details.html">product details</a></li>
                                <li><a href="cart-page.html">cart page</a></li>
                                <li><a href="checkout.html">checkout</a></li>
                                <li><a href="wishlist.html">wishlist</a></li>
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="login-register.html">login / register</a></li>
                                <li><a href="contact.html">contact</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BLOG</a>
                            <ul>
                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                <li><a href="#">Blog Standard</a>
                                    <ul>
                                        <li><a href="blog-left-sidebar.html">left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">right sidebar</a></li>
                                        <li><a href="blog-no-sidebar.html">no sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Post Types</a>
                                    <ul>
                                        <li><a href="blog-details-standerd.html">Standard post</a></li>
                                        <li><a href="blog-details-audio.html">audio post</a></li>
                                        <li><a href="blog-details-video.html">video post</a></li>
                                        <li><a href="blog-details-gallery.html">gallery post</a></li>
                                        <li><a href="blog-details-link.html">link post</a></li>
                                        <li><a href="blog-details-quote.html">quote post</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html"> Contact us </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</header>
<div class="slider-area">
<div class="slider-active owl-dot-style owl-carousel">
    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../static/assets/img/slider/slider-1.jpg);">
        <div class="container">
            <div class="slider-content slider-animated-1">
                <h3 class="animated">MANDAL FLORIST</h3>
                <!-- <h1 class="animated">For Mother’s Day!</h1> -->
                <h5 class="animated">Exclusive Offer</h5>
                <div class="slider-btn mt-45">
                    <a class="animated" href="/">shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slider pt-175 pb-258 bg-img" style="background-image:url(../static/assets/img/slider/slider-2.jpg);">
        <div class="container">
            <div class="slider-content slider-animated-1">
                <h3 class="animated">MANDAL FLORIST</h3>
                <!-- <h1 class="animated">For Mother’s Day!</h1> -->
                <h5 class="animated">Exclusive Offer</h5>
                <div class="slider-btn mt-45">
                    <a class="animated" href="/">shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="banner-area">
<div class="container">
    <div class="banner-wrap">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-banner img-zoom mb-30">
                    <a href="#">
                            <img src="{% static 'assets/img/banner/banner-1.png' %}" alt="">
                        </a>
                    <div class="banner-content">
                        <h4>Season Offer</h4>
                        <a href="/">shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-banner img-zoom mb-30">
                    <a href="#">
                            <img src="{% static 'assets/img/banner/banner-2.png' %}" alt="">
                        </a>
                    <div class="banner-content">
                        <h4>Season Offer</h4>
                        <a href="/">shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-banner mb-xs-banner img-zoom mb-30">
                    <a href="#">
                            <img src="{% static 'assets/img/banner/banner-3.png' %}" alt="">
                        </a>
                    <div class="banner-content">
                        <h4>Season Offer</h4>
                        <a href="/">shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- CATEGORY -->

<div class="product-area pt-40 pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-35">
            <div class="section-title-wrap">
                <h3 class="section-title section-bg-white">CATEGORY</h3>
            </div>
           
        </div>
        
        <div class="tab-content jump">
            <div id="tab1" class="tab-pane active">
                <div class="featured-product-active owl-carousel product-nav">
    
                    {%for cat in category %}
                    <div class="product-wrapper">
    
                        <div class="product-img">
                            <a href="/category={{cat.slug}}">
                                    <img  alt="" src="/media/{{cat.image}}" style="height: 250px;" class="rounded-circle">
                                </a>
                            
                           
                        </div>
                        <div class="product-content text-center">
                            <h4>
                                <a href="/category={{cat.slug}}">{{cat.name}} </a>
                            </h4>
                           
                        </div>
                    </div>
                    {%endfor%}
                   
                   
                   
                   
                </div>
            </div>
          
           
           
        </div>
    </div>
    </div>

    <!-- END CATEGORY -->
 

<div class="testimonials-area bg-img pt-120 pb-115" style="background-image:url(../static/images/Flower\ Banner.png);">
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-12 ms-auto col-12">
            <div class="testimonial-active owl-carousel">
                <div class="single-testimonial text-center">
                    <div class="testimonial-img">
                        <img alt="" src="assets/img/icon-img/testi.png">
                    </div>
                    <!-- <p>When a beautiful design is combined with powerful technology,<br> it truly is an artwork. I love how my website operates and looks with this theme. <br>Thank you for the awesome product. </p> -->
                    <h1 style="color: black;">MANDAL FLORIST</h1>
                </div>
                <div class="single-testimonial text-center">
                    <div class="testimonial-img">
                        <img alt="" src="../static/assets/img/icon-img/testi.png">
                    </div>
                    <p>“ Lorem ipsum dolor sit, con adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>exercitati ullamco laboris ” </p>
                    <h4> Tayeb Rayed</h4>
                </div>
                <div class="single-testimonial text-center">
                    <div class="testimonial-img">
                        <img alt="" src="../static/assets/img/icon-img/testi.png">
                    </div>
                    <p>When a beautiful design is combined with powerful ,<br> technology it truly is an artwork. I love how my website operates and looks with this <br>theme. Thank you for the awesome product. </p>
                    <h4>Hamim Ahamed</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="best-selling-product pt-70 pb-75 gray-bg">
<div class="container">
    <div class="product-top-bar section-border mb-35">
        <div class="section-title-wrap">
            <h3 class="section-title section-bg-gray">Best Selling Products</h3>
        </div>
    </div>
    <div class="best-selling-wrap">
        <div class="best-selling-active owl-carousel product-nav">
            <div class="single-best-selling">
                <div class="row">
                    <div class="col-lg-6 col-xl-5 col-md-6">
                        <div class="single-best-img">
                            <img class="tilter" src="../static/assets/img/banner/deal-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-md-6">
                        <div class="deals-content text-center deal-mrg">
                            <img alt="" src="../static/assets/img/icon-img/deals-2.png">
                            <h2>Hot Deal ! Sale Up To <span>20% Off</span></h2>
                            <h2>MANDAL FLORIST</h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p> -->
                            <div class="timer timer-style">
                                <div data-countdown="2022/01/01"></div>
                            </div>
                            <!-- <div class="deals-btn">
                                <a href="#">Shop Now</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-best-selling">
                <div class="row">
                    <div class="col-lg-6 col-xl-5 col-md-6">
                        <div class="single-best-img">
                            <img class="tilter" src="../static/assets/img/banner/deal-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-md-6">
                        <div class="deals-content text-center deal-mrg">
                            <img alt="" src="../static/assets/img/icon-img/deals-2.png">
                            <h2>Hot Deal ! Sale Up To <span>20% Off</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                            <div class="timer timer-style">
                                <div data-countdown="2022/09/01"></div>
                            </div>
                            <div class="deals-btn">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

   <!-- products -->

   <div class="product-area pt-40 pb-70">
    <div class="container">
        <div class="product-top-bar section-border mb-35">
            <div class="section-title-wrap">
                <h3 class="section-title section-bg-white">PRODUCT</h3>
            </div>
           
        </div>
        
        <div class="tab-content jump">
            <div id="tab1" class="tab-pane active">
                <div class="featured-product-active owl-carousel product-nav">
    
                    {%for i in allpro %}
                    <div class="product-wrapper">
    
                        <div class="product-img">
                            <a href="/quickview/{{i.id}}">
                                    <img alt="" src="/media/{{i.image}}" style="height: 250px;">
                                </a>
                            
                            <div class="product-action">
                                
                                {%if user.is_authenticated %}
                                <a class="action-cart" href="{% url 'cart_add' i.id %}" title="Add To Cart">
                                        <i class="icon-handbag"></i>
                                    </a>
                                {%else%}
                                <a class="action-cart" href="/handlelogin1" title="Add To Cart">
                                    <i class="icon-handbag"></i>
                                </a>
                                {%endif%}
                                <a class="action-compare" href="/quickview/{{i.id}}" >
                                        <i class="icon-magnifier-add"></i>
                                    </a>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h4>
                                <a href="/quickview/{{i.id}}">{{i.name}} </a>
                            </h4>
                            <div class="product-price-wrapper">
                                <span>Rs {{i.price}}</span>
                                
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                   
                   
                   
                   
                </div>
            </div>
          
           
           
        </div>
    </div>
    
    </div>
    
    <!-- end product -->

<!-- <div class="product-area pt-70 pb-70">
<div class="container">
    <div class="product-top-bar section-border mb-35">
        <div class="section-title-wrap">
            <h3 class="section-title section-bg-white">Hot Flower</h3>
        </div>
    </div>
    <div class="featured-product-active hot-flower owl-carousel product-nav">
        <div class="product-wrapper">
            <div class="product-img">
                <a href="product-details.html">
                        <img alt="" src="../static/assets/img/product/product-5.jpg">
                    </a>
                <span>-30%</span>
                <div class="product-action">
                    <a class="action-wishlist" href="#" title="Wishlist">
                            <i class="icon-heart"></i>
                        </a>
                    <a class="action-cart" href="#" title="Add To Cart">
                            <i class="icon-handbag"></i>
                        </a>
                    <a class="action-compare" href="/quickview/{{i.id}}" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                            <i class="icon-magnifier-add"></i>
                        </a>
                </div>
            </div>
            <div class="product-content text-center">
                <h4>
                    <a href="product-details.html">Pearly Everlasting</a>
                </h4>
                <div class="product-price-wrapper">
                    <span>$100.00</span>
                    <span class="product-price-old">$120.00 </span>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="product-img">
                <a href="product-details.html">
                        <img alt="" src="../static/assets/img/product/product-6.jpg">
                    </a>
                <div class="product-action">
                    <a class="action-wishlist" href="#" title="Wishlist">
                            <i class="icon-heart"></i>
                        </a>
                    <a class="action-cart" href="#" title="Add To Cart">
                            <i class="icon-handbag"></i>
                        </a>
                    <a class="action-compare" href="#" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                            <i class="icon-magnifier-add"></i>
                        </a>
                </div>
            </div>
            <div class="product-content text-center">
                <h4>
                    <a href="product-details.html">Polka Dot Plant</a>
                </h4>
                <div class="product-price-wrapper">
                    <span>$100.00</span>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="product-img">
                <a href="product-details.html">
                        <img alt="" src="../static/assets/img/product/product-7.jpg">
                    </a>
                <span>-30%</span>
                <div class="product-action">
                    <a class="action-wishlist" href="#" title="Wishlist">
                            <i class="icon-heart"></i>
                        </a>
                    <a class="action-cart" href="#" title="Add To Cart">
                            <i class="icon-handbag"></i>
                        </a>
                    <a class="action-compare" href="#" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                            <i class="icon-magnifier-add"></i>
                        </a>
                </div>
            </div>
            <div class="product-content text-center">
                <h4>
                    <a href="product-details.html">Glory of the Snow</a>
                </h4>
                <div class="product-price-wrapper">
                    <span>$100.00</span>
                    <span class="product-price-old">$120.00 </span>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="product-img">
                <a href="product-details.html">
                        <img alt="" src="../static/assets/img/product/product-8.jpg">
                    </a>
                <div class="product-action">
                    <a class="action-wishlist" href="#" title="Wishlist">
                            <i class="icon-heart"></i>
                        </a>
                    <a class="action-cart" href="#" title="Add To Cart">
                            <i class="icon-handbag"></i>
                        </a>
                    <a class="action-compare" href="#" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                            <i class="icon-magnifier-add"></i>
                        </a>
                </div>
            </div>
            <div class="product-content text-center">
                <h4>
                    <a href="product-details.html">Jack in the Pulpit</a>
                </h4>
                <div class="product-price-wrapper">
                    <span>$100.00</span>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="product-img">
                <a href="product-details.html">
                        <img alt="" src="../static/assets/img/product/product-6.jpg">
                    </a>
                <span>-30%</span>
                <div class="product-action">
                    <a class="action-wishlist" href="#" title="Wishlist">
                            <i class="icon-heart"></i>
                        </a>
                    <a class="action-cart" href="#" title="Add To Cart">
                            <i class="icon-handbag"></i>
                        </a>
                    <a class="action-compare" href="#" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                            <i class="icon-magnifier-add"></i>
                        </a>
                </div>
            </div>
            <div class="product-content text-center">
                <h4>
                    <a href="product-details.html">Flowers Bouquet Pink	</a>
                </h4>
                <div class="product-price-wrapper">
                    <span>$100.00</span>
                    <span class="product-price-old">$120.00 </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
<div class="new-year-offer-area pb-75">
<div class="container-fluid">
    <div class="new-year-offer-wrap pt-70 pb-75 bg-img" style="background-image:url(../static/assets/img/banner/banner-4.jpg);">
        <div class="new-year-offer-content text-center">
            <h4>Exclusive Offer</h4>
            <h3>Fresh flowers for any special occasion</h3>
            
        </div>
    </div>
</div>
</div>


{%endblock%}
